Images_Data/Cut_Images/
Images_Data/Cut_Images/*
Images_Data/Original_Images/
Images_Data/Original_Images/*
Images_Data/Resize_Images/
Images_Data/Resize_Images/*
Images_Data/Temp_Features/
Images_Data/Temp_Features/*
.DS_Store
